-# TODO Re-enable React when we are not trying to do a hackathon!
// :javascript
//   $(function() {
//     React.render(React.createElement(LysteyAdmin, null), document.getElementById("admin"));
//   });

#admin
