%section.section.shaded#admin-navigation
  .container.section
    .row
      .twelve.columns
        = select_tag 'admin_nav', options_for_select(admin_nav_links(@agent), request.fullpath), class: 'u-full-width nav-select js-select-navigation'
        %button.button.button-primary.nav-button.js-navigation-button Go
