%footer.footer.section.section-inverted
  .container.center.padded
    .row
      .twelve.columns
        %p
          %span &copy;
          %span= "#{DateTime.now.year} #{@agent.full_name} Real Estate Agent"
        %p Powered by lystey.com
