%footer.footer.section.section-inverted
  .container.center.padded
    .row
      .twelve.columns
        %p
          %span &copy;
          %span= "#{DateTime.now.year} #{@agent.full_name} Real Estate Agent"
    .row
      .twelve.columns
        %ul.unstyled.inline
          %li
            Login
          %li
            |
          %li
            Sitemap
          %li
            |
          %li
            Contact
          %li
            |
          %li
            Privacy & Terms    
    .row
      .twelve.columns
        %p Powered by lystey.com
