%section.container.section#heading
  .row.nav-bar
    .twelve.columns
      %a.nav-menu-toggle.hamburger(href="#")
        %i.fa.fa-bars.fa-3x
      #nav-heading
        %h1.heading-text Firstname Lastname
        %h2.heading-text Real Estate
