<div class="row" id="heading">
  <div class="col-xs-8">
    <h1 class="ui header">
      Bryan Mikaelian
      <div class="sub header">
        License #1111111
      </div>
    </h1>
  </div>

  <div class="col-xs-4">
    <div class="pull-right">
      <h1 class="ui header">
        800-555-1234
        <div class="sub header">
          bryan@lystey.com
        </div>
      </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="ui text menu">
      <a class="active item">
        Home
      </a>
      <a class="item">
        Search Listings
      </a>
      <a class="item">
        Sellers
      </a>
      <a class="item">
        Buyers
      </a>
      <a class="item">
        About
      </a>
      <a class="item">
        Contact
      </a>
    </div>
    <div class="pull-right">
      <div class="ui facebook icon button">
        <i class="facebook icon"></i>
      </div>
      <div class="ui twitter icon button">
        <i class="twitter icon"></i>
      </div>
      <div class="ui instagram icon button">
        <i class="instagram icon"></i>
      </div>
      <div class="ui linkedin icon button">
        <i class="linkedin icon"></i>
      </div>
    </div>

  </div>
</div>
