%section.section.shaded#admin-navigation
  .container.section
    .row
      .twelve.columns
        %h2.section-heading Admin Section:
    .row
      .twelve.columns
        %select.u-full-width.nav-select
          %option{:value => "1"}
            About Section
        %button.button.button-primary.nav-button Go
