<div class="row">
  <div class="col-xs-12 col-md-6 clearfix">
    <div class="headline left">
      <h1>
        <%= @agent.full_name %>
      </h1>
    </div>

  </div>
  <div class="col-xs-12 col-md-6 pull-right">
    <div class="headline right">
      <h4>
        <%= @agent.phone_number %>
      </h4>
    </div>

  </div>
</div>
