// Colors
$black: #000000;
$black25: rgba(0, 0, 0, .25);
$black50: rgba(0, 0, 0, .50);
$black75: rgba(0, 0, 0, .75);
$black85: rgba(0, 0, 0, .85);
$white: #ffffff;
$primaryRed: #930b12;

// Social Media Colors
$facebookBlue: #3b5998;
$twitterBlue: #00aced;
$pinterestRed: #cb2027;
$instagramBlue: #517fa4;
$googlePlusRed: #dd4b39;
$linkedInBlue: #007bb6;


// Sizes
$defaultBorderRadius: 10px;
$defaultInputBorderRadius: 3px;

// Font Colors
$baseFontColor: $black85;
$baseGrayBackground: rgba($baseFontColor, .10);

// Font Family
$baseFontFamily: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$baseFontWeight: normal;

// Font Sizes
$h1FontSize: 20px;
$h2FontSize: 15px;
$h3FontSize: 12px;
$baseFontSize: $h3FontSize;
$placeholderFontSize: $h1FontSize;

// Font Styles
$defaultFontWeight: 300;

// Grid
$defaultPadding: 20px;
$sectionMarginSize: 10px;
$sectionHeadingMarginBottom: $sectionMarginSize;

// Forms
$placeholderFontSize: $h1FontSize;
$labelFontSize: $h3FontSize;
$inputHeight: 40px;
$formSectionMarginBottom: $sectionMarginSize;
