html {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}


.shaded-section {
  background-color: $baseGrayBackground;
  border: 1px solid $black25;
  border-left: 0;
}
