.button {
  border: 0;
  font-size: $h1FontSize;
  text-transform: none;
  border-radius: $defaultBorderRadius;
  padding: 0px 30px;
  font-weight: normal;
  margin-bottom: 20px;

  &.button-primary,
  &.button-primary:hover {
    background-color: $primaryRed;
  }

  &.contact-button {
    height: 44px;
    padding: 0;
    margin: 0;
    &.phone {
      font-size: 18.5px;
    }
  }

  &:disabled {
    text-decoration: none !important;
  }

  &.button-reset-theme {
    border: 2px solid $black25 !important;
    background-color: $black25 !important;
    color: $black !important;
    line-height: 34px !important;
    font-weight: normal;
  }

  &:hover {
    text-decoration: underline;
  }

  &.nav-button {
    margin-bottom: 0;
  }
}
