@mixin input-focus {
  &:focus {
    border: 1px solid $black25;
    box-shadow: 0px 0px 1px 3px $baseGrayBackground;
    outline: 0px none;
  }
}


.button {
  border: 1px solid $primaryRed;
  font-size: $h3FontSize;
  text-transform: none;
  border-radius: 10px;
  padding: 0px 30px;
  font-weight: normal;

  &.button-primary,
  &.button-primary:hover {
    background-color: $primaryRed;
    border: inherit;
  }
}

.select {
  @include input-focus;
  border: 1px solid $black25;
}


.form {
  input {
    @include input-focus;
    border-radius: 0;
    font-size: $h1FontSize;
    font-weight: 300;
    height: 50px;
  }
}
