@mixin input-focus {
  &:focus {
    border: 1px solid $black25;
    box-shadow: 0px 0px 1px 3px $baseGrayBackground;
    outline: 0px none;
  }
}

.button {
  border: 0;
  font-size: $h1FontSize;
  text-transform: none;
  border-radius: $defaultBorderRadius;
  padding: 0px 30px;
  font-weight: normal;

  &.button-primary,
  &.button-primary:hover {
    background-color: $primaryRed;
  }

  &:disabled {
    text-decoration: none !important;
  }

  &.button-reset-theme {
    border: 2px solid $black25 !important;
    background-color: $black25 !important;
    color: $black !important;
    line-height: 34px !important;
    font-weight: normal;
  }

  &:hover {
    text-decoration: underline;
  }

}

.select {
  @include input-focus;
  border: 1px solid $black25;
  &:disabled {
    opacity: 0.5;
  }
}


.switch {
  label {
    color: $white;
  }

  .switch-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }

  .switch-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    height: $inputHeight;
    padding: 4px;
    content: "";
    border: 1px solid $black25;
    border-radius: $defaultInputBorderRadius !important;
    flex: 1 0 auto;
  }

  .switch-toggle + label:before,
  .switch-toggle + label:after {
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    content: "";
  }

  .switch-toggle + label:before {
    transition: background 0.4s;
  }

  .switch-toggle + label:after {
    width: 70px;
    background-color: $primaryRed;
    border-radius: $defaultBorderRadius;
    transition: margin 0.4s;
    margin-right: -5px;
    content: "No";
    font-size: $h2FontSize;
    text-align: center;
    font-weight: 500;
    padding-top: 4px;
  }

  .switch-toggle:checked + label:after {
    margin-left: 5px;
    transition: margin 0.4s;
    content: "Yes";
  }
}

.label {
  font-size: $h1FontSize;
  color: $baseFontColor;
  font-weight: 300;
  margin-bottom: 0;
  height: inherit;
  &.small {
    font-size: $h2FontSize;
    line-height: 1;
  }
}

.form {
  margin-bottom: 0px;

  .container {
    @media all and (min-width: 750px) {
      max-width: 720px;
    }
  }


  .section-heading {
    margin-bottom: 5px;
    margin-top: 15px;
    &:first-child {
      margin-top: 5px;
    }
  }

  input,
  select,
  textarea {
    margin-bottom: 10px;
  }

  input.checkbox[type=checkbox] {
    display: none;
  }
  input.checkbox[type=checkbox] + label:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f096";
    font-size: 34px;
    vertical-align: middle;
    letter-spacing: 10px;
    max-width: 30px;
    margin-right: 5px;

  }
  input.checkbox[type=checkbox] + label.left:before {
    float: left;
    margin-right: 10px;
  }

  input.checkbox[type=checkbox]:checked + label:before {
    content: "\f046";
  }


  input,
  textarea {
    @include input-focus;
    border-radius: $defaultInputBorderRadius;
    font-size: $h1FontSize;
    font-weight: 300;
    height: $inputHeight;

    &.button {
      @extend .button;
      margin: 20px 0;
    }

    &:disabled {
      color: $black25;
      &.original-text-color {
        color: $black85;
      }
    }

    &.half-width {
      width: 50%;
      margin-right: 10px;
    }
  }

  textarea {
    height: 160px;
    resize: none;
    line-height: 1;
    margin-bottom: 0;
  }

  .add-field {
    @extend .primary-link;
    margin: 5px 15px 15px 15px;
    display: block;
    text-decoration: none;

    &.left {
      margin: 0;
    }
  }

  .color-preview {
    order: 3;
    flex: 1 1 40px;
    border: 1px solid $black25;
    height: $inputHeight;
    min-width: $inputHeight;
    border-radius: $defaultInputBorderRadius + 2px;
    margin-left: 10px;
    padding: 0;
    .sp-preview {
      height: 100%;
      width: 100%;
      border: 0;
    }
  }

  .submit-section {
    margin-bottom: 0;
  }

  .inline-section {
    display: flex;
    flex-flow: row nowrap;

    span.label,
    label {
      order: 1;

      &.icon-label {
        flex: 1 1 45px;
        margin-right: 15px;
      }

      &.text-label {
        @extend .label;
        flex: 2 1 130px;
        margin-right: 10px;

        &.switch-label {
          flex: 2 1 175px;
        }
      }
    }

    input,
    select {
      order: 2;
      flex: 1 2 auto;

      &.color-picker {
        flex: 1 5 auto;
      }

      &.font-select {
        flex: 0 3 auto;
        align-self: flex-start;
      }

      @media all and (min-width: 750px) {
        flex: 1 1 auto;
      }
    }

    .switch {
      order: 2;
      flex: 1 2 110px;
    }

    .right-content {
      order: 3;
    }

    &.centered {
      align-items: baseline;
    }
  }
}
