.section {
  margin: $sectionMarginSize auto;

  .section-heading {
    margin-bottom: 10px;
  }


  &.shaded {
    background-color: $baseGrayBackground;
    border: 1px solid $black25;
    border-left: 0;
    &:last-child {
      margin-bottom: 0px;
    }
  }

  &.bordered-bottom {
    border-bottom: 1px solid $black25;
  }
}
