.section {
  margin: $sectionMarginSize auto;

  &.shaded {
    background-color: $baseGrayBackground;
    border: 1px solid $black25;
    border-left: 0;
    &:last-child {
      margin-bottom: 0px;
    }
  }

  &.bordered-bottom {
    border-bottom: 1px solid $black25;
  }

  &.centered {
    @media (min-width: 400px) {
      max-width: 300px;
    }
  }
}

.section-heading {
  margin-bottom: $sectionHeadingMarginBottom;
  margin-top: $sectionHeadingMarginBottom + 5;
  &:first-child {
    margin-top: $sectionHeadingMarginBottom / 2;
  }
}

.bordered {
  border: 1px solid $black25;
  border-radius: $defaultBorderRadius;
}

.padded {
  padding: $defaultPadding 0;
  padding-bottom: 0;
}

.padded-full {
  padding: $defaultPadding;
}

.hidden {
  display: none;
}

.center,
.text-centered {
  text-align: center;
}
