.headline {
  &.left {
    float: left;
    text-align: left;
  }

  &.right {
    float: right;
    text-align: right;
  }
}

@media (max-width: $screen-xs-max) {
  .headline {
    &.left {
      text-align: left;
    }

    &.right {
      float: left;
      text-align: left;
    }
  }

}
