a,
a.primary-link {
  color: $black25;

  &.hamburger {
    display: block;
    color: $black85;
  }

  &:hover {
    text-decoration: underline;
  }

  &.icon-link {
    margin-left: 10px;
    vertical-align: text-top;
  }

  &.full-color {
    color: $black85;
  }
}
