nav.navigation {
  padding-top: 20px;

  a.nav-menu {
    display: block;
    padding-right: 20px;
    float: left;
    @media (min-width: 550px) {
      display: none;
    }
  }

  #nav-heading {
    float: left;
    .heading-text {
      margin-bottom: 0px;
    }
  }
}
