.nav-bar {
  padding: 20px 0px;

  a.nav-menu-toggle {
    display: block;
    padding-right: 20px;
    float: left;
    @media (min-width: 550px) {
      display: none;
    }
  }

  #nav-heading {
    float: left;
    .heading-text {
      margin-bottom: 0px;
    }
  }

  #nav-contact-items {
    float: right;
    a {
      display: inline-block;
      margin-top: 10px;
      padding-right: 5px;
      &:last-of-type {
        padding-right: 0px;
      }

      i#phone {
        font-size: 1.85em;
      }
    }
  }
}

.nav-section {
  margin: 20px auto;
  min-height: 125px;
}

.nav-select {
  margin-right: 20px;

  @media (min-width: 400px) and (max-width: 550px) {
    width: 70%;
  }

  @media (min-width: 550px) and (max-width: 760px) {
    width: 77%;
  }

  @media (min-width: 760px) and (max-width: 960px) {
    width: 84%;
  }

  @media (min-width: 960px) and (max-width: 1150px) {
    width: 86%;
  }

  @media (min-width: 1150px) {
    width: 89%;
  }
}
