.nav-bar {
  margin: 20px 0px;

  a.nav-menu-toggle {
    display: block;
    margin-right: 20px;
    float: left;
    @media (min-width: 550px) {
      display: none;
    }
  }

  #nav-heading {
    float: left;

    h2.heading-text,
    h3.heading-text {
      margin-bottom: 0px;

    }

    h2.heading-text {
      @media (max-width: 380px) {
        width: 100px;
        margin-right: 20px;
      }
    }

    h3.heading-text {
      @media (max-width: 380px) {
        display: none;
      }
    }
  }

  #nav-contact-items {
    float: right;
    a {
      display: inline-block;
      margin-right: 15px;
      &:last-of-type {
        margin-right: 0px;
      }

      i#email {
        font-size: 40px;
      }

      i#phone {
        font-size: 2.50em;
      }
    }
  }
}

.nav-section {
  margin: 20px auto;
  min-height: 105px;
}

.nav-select {
  margin-right: 20px;

  @media (max-width: 375px) {
    width: 62%;
  }

  @media (min-width: 375px) and (max-width: 400px) {
    width: 69%;
  }

  @media (min-width: 400px) and (max-width: 550px) {
    width: 70%;
  }

  @media (min-width: 550px) and (max-width: 760px) {
    width: 77%;
  }

  @media (min-width: 760px) and (max-width: 960px) {
    width: 84%;
  }

  @media (min-width: 960px) and (max-width: 1150px) {
    width: 86%;
  }

  @media (min-width: 1150px) {
    width: 89%;
  }
}
