body {
  font-famly: $baseFontFamily;
  color: $baseFontColor;
  -webkit-font-smoothing: antialiased;

  h1 { font-size: $h1FontSize }
  h2 { font-size: $h2FontSize }
  h3 { font-size: $h3FontSize }

  h1,
  h2 {
    letter-spacing: normal;
  }

  .faded {
    color: $black50;
  }

  p {
    margin-bottom: 10px;
  }
}
